# Watchmode API — https://api.watchmode.com/requestApiKey
WATCHMODE_API_KEY =MD09Bth5DUVSJY4lCQ5d5MW8El0NHGbcj7mqLQKa

# TMDb API — https://www.themoviedb.org/settings/api
TMDB_API_KEY=af6b1bc81dd1f11bef837de9b04ed5ea

# Reddit API — https://www.reddit.com/prefs/apps (use "script" type)
REDDIT_CLIENT_ID=your_client_id_here
REDDIT_CLIENT_SECRET=your_client_secret_here
REDDIT_USER_AGENT=StreamingAnalysis/1.0 by YourUsername
