# Core
pandas
numpy
requests
python-dotenv

# Visualization
matplotlib
seaborn
plotly

# NLP
nltk
textblob
vaderSentiment
wordcloud
scikit-learn

# Reddit
praw

# Dashboard
streamlit

# Notebook
jupyter
ipykernel